body, html { 
    background-image:linear-gradient(to left, rgba(0,0,0,0) 75%, #611818 0%),
     url('./assetts/Coding-Challenge-Image.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
}

.parent {
    height: 100vh;
}

.container {
    /* height: 1000px; */
    position: relative;
    top: 45%;
    /* left: 15%; */
}

.container h1 {
    color: whitesmoke;
    font-family: 'Libre Bodoni', serif;
    font-size: 15vw;
    /* animation: fadeOut 2s; */
    /* animation-fill-mode: forwards; */
}


.animated_header_out {
    color: whitesmoke;
    font-family: 'Libre Bodoni', serif;
    font-size: 15vw;
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
}

.animated_header_in {
    color: whitesmoke;
    font-family: 'Libre Bodoni', serif;
    font-size: 15vw;
    animation: fadeIn 0.3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

/* Header */
.container h5 {
    font-family: 'Roboto Flex', sans-serif;
    color: whitesmoke;
}

/* Caption and button  */
.container .flex_container {
    display: flex;
    align-items: center;
}

.flex_container button {
    background: transparent;
    border: none;
}

/* modal */
.fancy_modal {
    text-align: center;
    /* max-height: 10em;
    min-height: 20em; */
    background-color: whitesmoke;
    width: 40%;
    height: auto;
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 10%;
    display: none;
    box-shadow: 0 0 20px;
    text-align: left;
    padding: 40px;
}

.fancy_modal #close_button {
    border: none;
    background-color: whitesmoke;
    color: #611818;
    font-size: 40px;
    float: right;
}

.fancy_modal p {
    font-family: 'Roboto Flex', sans-serif;
    line-height: 2;
}

.fancy_modal h2 {
    margin-top: 10%;
    color: #611818;
    font-family: 'Libre Bodoni', serif;
    position: relative;
}

.fancy_modal #divider {
    
    background-image: linear-gradient(
        90deg,
        hsl(0deg 60% 24%) 7%,
        hsl(0deg 33% 43%) 48%,
        hsl(0deg 29% 67%) 67%,
        hsl(0deg 0% 96%) 100%
      );
    height: 3px;
}

.fancy_modal #read_more_button {
    background-image: linear-gradient(
  90deg,
  hsl(0deg 60% 24%) 0%,
  hsl(2deg 56% 26%) 32%,
  hsl(4deg 52% 29%) 44%,
  hsl(5deg 49% 32%) 53%,
  hsl(7deg 45% 35%) 60%,
  hsl(9deg 42% 38%) 66%,
  hsl(11deg 39% 41%) 73%,
  hsl(13deg 36% 44%) 81%,
  hsl(14deg 33% 47%) 100%
);
    border: none;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10%;
    padding: 5px;
}

/* animations */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes  fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .fancy_modal {
        width: 90%;
        margin: 10%;
    }
}

/* .fancy_modal::after {
    content: '';
    height: 10px;
    width: 200px;
    background-color: #611818;
} */